@page "/dashboard-page"

@inherits LayoutComponentBase
@using Jamper_Financial.Shared.Data
@using Jamper_Financial.Shared.Services
@using Jamper_Financial.Shared.Models
@using Jamper_Financial.Shared.Utilities
@using Jamper_Financial.Shared.Pages.Components
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Authorization


@inject NavigationManager Navigation
@inject IUserService UserService
@inject LoginStateService LoginState
@inject UserStateService UserStateService
@inject IExpenseService ExpenseService
@inject IAccountService AccountService
@inject IJSRuntime JS
@inject DatabaseHelperFactory DataFactory
@inject AuthenticationStateProvider AuthenticationStateProvider

@code {
    [CascadingParameter] private Action<string> SetPageTitle { get; set; }

    private UserProfile userProfile = new UserProfile();
    private int currentIndex = 0;
    private bool chartsNeedInitialization = false;

    private List<CardItem> cards = new List<CardItem>
    {
        new CardItem { Title = "History", Route = "/dashboard-page", ChartType = "HistoryChart" },
        new CardItem { Title = "Recent Transactions", Route = "/transactions-page", ChartType = "" },
        new CardItem { Title = "Manage Saving Goals", Route = "/view-goals-page", ChartType = "SavingsGoalsChart" },
        new CardItem { Title = "Subscription Due", Route = "/calendar-page", ChartType = "" },
    };
    private List<Expense> weeklyExpenses = new List<Expense>();
    private List<Transaction> transactions;
    private List<Expense> monthlyExpenses = new List<Expense>();
    private List<Goal> savingsGoals = new List<Goal>();
    private bool isChartRendered = false;
    string username = "";

    private BankAccount newAccount = new BankAccount();
    private List<BankAccount> bankAccounts = new List<BankAccount>();
    private bool showAccountModal = false;


    // Toaster variables
    private string toasterMessage = string.Empty;
    private string toasterClass = string.Empty;
    private System.Threading.Timer toasterTimer;

    protected override async Task OnInitializedAsync()
    {
        SetPageTitle("Dashboard");    

        // Get the logged-in user's ID and username from the UserStateService
        int userId =  UserStateService.UserId;

        Console.WriteLine("User name: " + username + " User ID: " + userId);

        if (userId > 0)
        {
            userProfile = await UserService.GetUserProfileByIdAsync(userId);
            transactions = await TransactionManager.LoadTransactionsAsync(userId);
            weeklyExpenses = await ExpenseService.GetExpensesAsync(userId, "weekly");
            monthlyExpenses = await ExpenseService.GetExpensesAsync(userId, "monthly");
            savingsGoals = DataFactory.GetGoals(userId);
            bankAccounts = await AccountService.GetBankAccounts(userId);
            if (bankAccounts == null || !bankAccounts.Any())
            {
                ShowNewAccountModal();
            };
            username = userProfile.FirstName;
        }
        else
        {
            Navigation.NavigateTo("/login");
        }


    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine("Calls OnAfterRenderAsync");
        if (firstRender)
        {
            await RenderWeeklyActivityChart();
            await InitializeVisibleCharts();
        }
        else if (chartsNeedInitialization)
        {
            chartsNeedInitialization = false;
            await InitializeVisibleCharts();
        }
    }

    private async Task ShowNewAccountModal()
    {
        newAccount = new BankAccount
            {
                AccountTypeID = 0,
                AccountName = string.Empty,
                Balance = 0,
                AccountNumber = string.Empty,
                UserId = UserStateService.UserId

            };
        showAccountModal = true;
    }

    private async Task InitializeVisibleCharts()
    {
        var visibleCards = GetVisibleCards(); // Get wrapped cards
        foreach (var card in visibleCards)
        {
            if (!string.IsNullOrEmpty(card.ChartType))
            {
                await InitializeChart(card.ChartType);
            }
        }
    }

    private async Task InitializeChart(string chartType)
    {
        switch (chartType)
        {
            case "HistoryChart":
                await RenderBalanceHistoryChart();
                break;
            case "SavingsGoalsChart":
                await RenderSavingGoalsChart();
                break;
        }
    }

    private async Task RenderWeeklyActivityChart()
    {
        var daysOfWeek = new[] { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };
        var expenseData = new decimal[7];
        var salaryData = new decimal[7];

        foreach (var expense in weeklyExpenses)
        {
            var dayOfWeek = (int)expense.Date.DayOfWeek;
            expenseData[dayOfWeek] += expense.ExpenseAmount;
            salaryData[dayOfWeek] += expense.SalaryAmount;
        }

        var chartData = new
        {
            labels = daysOfWeek,
            datasets = new[]
            {
                new
                {
                    label = "Expenses",
                    data = expenseData,
                    backgroundColor = "rgba(75, 192, 192, 0.2)",
                    borderColor = "rgba(75, 192, 192, 1)",
                    borderWidth = 1,
                    borderRadius = 0
                },
                new
                {
                    label = "Salary",
                    data = salaryData,
                    backgroundColor = "rgba(153, 102, 255, 0.2)",
                    borderColor = "rgba(153, 102, 255, 1)",
                    borderWidth = 1,
                    borderRadius = 10
                }
            }
        };
        await JS.InvokeVoidAsync("initializeBarChart", "weeklyActivityChart", chartData, "x");
    }

    private async Task RenderBalanceHistoryChart()
    {
        var months = new[] { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };
        var incomeData = new decimal[12];
        var expenseData = new decimal[12];
        var differenceData = new decimal[12];


        Console.WriteLine("Monthly Expense Count: " + monthlyExpenses.Count);
        foreach (var expense in monthlyExpenses)
        {
            var month = expense.Date.Month - 1; // Month is 1-based, array is 0-based
            expenseData[month] += expense.ExpenseAmount;
            incomeData[month] += expense.SalaryAmount;

            Console.WriteLine($"Expense: {expense.ExpenseAmount}, Salary: {expense.SalaryAmount}, Month: {month}");
        }

        for (int i = 0; i < 12; i++)
        {
            differenceData[i] = incomeData[i] - expenseData[i];
            Console.WriteLine($"Month: {months[i]}, Income: {incomeData[i]}, Expense: {expenseData[i]}, Difference: {differenceData[i]}");
        }

        var chartData = new
        {
            labels = months,
            datasets = new[]
            {
                new
                {
                    label = "Total Income - Expenses",
                    data = differenceData,
                    backgroundColor = "rgba(75, 192, 192, 0.2)",
                    borderColor = "rgba(75, 192, 192, 1)",
                    tension = 0.4, // This makes the line smooth
                    fill = true
                }
            }
        };
        await JS.InvokeVoidAsync("initializeLineChart", "HistoryChart", chartData);
    }

    private async Task RenderSavingGoalsChart()
    {
        var goalTypeData = new Dictionary<string, decimal>();

        // Calculate the sum of amounts for each goal type
        goalTypeData["Quick Goal"] = savingsGoals.Where(g => g.IsQuickGoal).Sum(g => g.Amount);
        goalTypeData["Retirement Fund"] = savingsGoals.Where(g => g.IsRetirementGoal).Sum(g => g.Amount);
        goalTypeData["Emergency Fund"] = savingsGoals.Where(g => g.IsEmergencyFundGoal).Sum(g => g.Amount);
        goalTypeData["Travel Goal"] = savingsGoals.Where(g => g.IsTravelGoal).Sum(g => g.Amount);
        goalTypeData["Home Goal"] = savingsGoals.Where(g => g.IsHomeGoal).Sum(g => g.Amount);
        goalTypeData["Custom Goal"] = savingsGoals.Where(g => !g.IsQuickGoal && !g.IsRetirementGoal && !g.IsEmergencyFundGoal && !g.IsTravelGoal && !g.IsHomeGoal).Sum(g => g.Amount);

        var chartData = new
        {
            labels = goalTypeData.Keys.ToArray(), // Get the goal types as labels
            datasets = new[]
            {
            new
            {
                label = "Savings Goals",
                data = goalTypeData.Values.ToArray(), // Get the summed amounts for each goal type
                backgroundColor = new[]
                {
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(54, 162, 235, 0.2)",
                    "rgba(255, 206, 86, 0.2)",
                    "rgba(75, 192, 192, 0.2)",
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(140, 67, 55, 0.2)"
                },
                borderColor = new[]
                {
                    "rgba(255, 99, 132, 1)",
                    "rgba(54, 162, 235, 1)",
                    "rgba(255, 206, 86, 1)",
                    "rgba(75, 192, 192, 1)",
                    "rgba(153, 102, 255, 1)",
                    "rgba(140, 67, 55, 1)"
                },
                borderWidth = 1
            }
        }
        };

        await JS.InvokeVoidAsync("initializePolarChart", "SavingsGoalsChart", chartData);
    }

    private async Task NextCard()
    {
        currentIndex = (currentIndex + 1) % cards.Count;
        chartsNeedInitialization = true;
        await InvokeAsync(StateHasChanged); // Force render
        UpdateCarousel();
    }

    private async Task PreviousCard()
    {
        currentIndex = (currentIndex - 1 + cards.Count) % cards.Count;
        chartsNeedInitialization = true;
        await InvokeAsync(StateHasChanged); // Force render
        UpdateCarousel();
    }

    private void UpdateCarousel()
    {
        var offset = -currentIndex;
        JS.InvokeVoidAsync("updateCarousel", offset);
    }

    private void NavigateToPage(string route)
    {
        Navigation.NavigateTo(route);
    }

    private IEnumerable<CardItem> GetVisibleCards()
    {
        // Always return 3 cards for seamless wrapping
        return cards.Skip(currentIndex)
                    .Concat(cards.Take(currentIndex))  // Wrap around
                    .Take(3);  // Always show 3 cards
    }

    private async Task CloseAddAccountModal(bool isVisible)
    {
        showAccountModal = isVisible;
    }

    private void HandleAccountSaved(string message)
    {
        Console.WriteLine(message);
        // Set the toaster message and class based on the result
        if (message == "success")
        {
            toasterMessage = "Account added successfully!";
            toasterClass = "success";
        }
        else
        {
            toasterMessage = "Failed to save Account.";
            toasterClass = "error";
        }

        Console.WriteLine(message);
        showAccountModal = false;

        // Start the timer to auto-close the toaster
        toasterTimer?.Dispose(); // Dispose of any existing timer
        toasterTimer = new System.Threading.Timer(AutoCloseToaster, null, 5000, Timeout.Infinite);
        StateHasChanged();
    }

    private void AutoCloseToaster(object state)
    {
        InvokeAsync(() =>
        {
            ClearToaster();
            StateHasChanged(); // Update the UI
        });
    }

    private void ClearToaster()
    {
        toasterMessage = string.Empty;
        toasterClass = string.Empty;
    }

    private class CardItem
    {
        public string Title { get; set; }
        public string Route { get; set; }
        public string ChartType { get; set; }
    }
}

<div class="dashboard-container">
    <div class="dashboard-header">
        <h3>Welcome back <span>@username</span> to Finance!</h3>
    </div>

    <!-- Carousel Section -->
    <div class="carousel">
        <button class="carousel-button left" @onclick="PreviousCard">&#10094;</button>
        @foreach (var card in GetVisibleCards())
        {
            <div class="flex-column flex-item">
                <h4 class="card-title flex-item">
                    @card.Title
                </h4>
                <div class="card flex-item" @onclick="@(() => NavigateToPage(card.Route))">
                    @if (card.ChartType != "")
                    {
                        <canvas id="@card.ChartType"></canvas>
                    }
                    @if (card.Title == "Recent Transactions")
                    {
                        <div class="transaction-container flex flex-column">
                            @foreach (var transaction in transactions.Where(t => t.IsPaid).OrderByDescending(t => t.Date).Take(3))
                            {
                                <ul class="transaction-item flex-row">
                                    <li class="icon-image flex-item">
                                        @if (transaction.TransactionType == "i")
                                        {
                                            <img src="images/income.svg" alt="Income Icon" />
                                        }
                                        else
                                        {
                                            <img src="images/expense.svg" alt="Expense Icon" />
                                        }
                                    </li>
                                    <li class="flex-item transaction-description">
                                        <div class="transaction-title">@transaction.Description</div>
                                        <div class="transaction-date">@transaction.Date.ToString("MMM dd, yyyy")</div>
                                    </li>
                                    <li class="transaction-amount flex-item @(transaction.TransactionType == "e" ? "negative" : "positive" )">@((transaction.Amount > 0 ? transaction.Amount : transaction.Amount).ToString("C"))</li>
                                </ul>
                            }
                        </div>
                    }
                    @if (card.Title == "Subscription Due")
                    {
                        <div class="transaction-container flex flex-column">
                            @foreach (var transaction in transactions.Where(t => t.IsPaid == false).OrderBy(t => t.Date).Take(3))
                            {
                                <ul class="transaction-item flex-row">
                                    <li class="icon-image flex-item">
                                        <img src="images/expense.svg" alt="Expense Icon" />
                                    </li>
                                    <li class="flex-item transaction-description">
                                        <div class="transaction-title">@transaction.Description</div>
                                        <div class="transaction-date">@transaction.Date.ToString("MMM dd, yyyy")</div>
                                    </li>
                                    <li class="transaction-amount flex-item @(transaction.TransactionType == "e" ? "negative" : "positive" )">@((transaction.Amount > 0 ? transaction.Amount : transaction.Amount).ToString("C"))</li>
                                </ul>
                            }
                        </div>
                    }
                </div>
            </div>
        }
        <button class="carousel-button right" @onclick="NextCard">&#10095;</button>
    </div>

    <!-- Horizontal Bar -->
    <hr class="section-divider" />

    <!-- History Section -->
    <div class="weekly-activity">
        <h4>Weekly Activity</h4>
        <div class="card-full">
            <canvas id="weeklyActivityChart"></canvas>
        </div>
    </div>
</div>

@if (showAccountModal)
{
    <AddAccountModal IsVisible="showAccountModal"
                     OnClose="CloseAddAccountModal"
                     newAccount="newAccount"
                     OnAccountSaved="HandleAccountSaved" 
                     title="Please add an Account to get you started"/>
}