@page "/profile-page"
@using Jamper_Financial.Shared.Data
@using Jamper_Financial.Shared.Services
@using Jamper_Financial.Shared.Pages.profileSettings
@inject NavigationManager Navigation

@code {
    [CascadingParameter] private Action<string> SetPageTitle { get; set; }

    protected override void OnInitialized()
    {
        SetPageTitle("Profile Settings");
    }
}

<div class="profile-container">
    <div class="profile-tabs">
        <button class="nav-link @(selectedTab == "ProfileManagement" ? "active" : "")" @onclick="@(() => SelectTab("ProfileManagement"))">Edit Profile</button>
        <button class="nav-link @(selectedTab == "PreferenceManagement" ? "active" : "")" @onclick="@(() => SelectTab("PreferenceManagement"))">Preferences</button>
        <button class="nav-link @(selectedTab == "SecuritySettings" ? "active" : "")" @onclick="@(() => SelectTab("SecuritySettings"))">Security Settings</button>
        <button class="nav-link @(selectedTab == "LinkAccount" ? "active" : "")" @onclick="@(() => SelectTab("LinkAccount"))">Link Account</button>
        <button class="nav-link @(selectedTab == "About" ? "active" : "")" @onclick="@(() => SelectTab("About"))">About and Support</button>
    </div>

    <div class="profile-options">
        @if (selectedTab == "ProfileManagement")
        {
            <ProfileManagement />
        }
        else if (selectedTab == "PreferenceManagement")
        {
            <PreferencesManagement />
        }
        else if (selectedTab == "SecuritySettings")
        {
            <SecuritySettings />
        }
        else if (selectedTab == "LinkAccount")
        {
            <LinkAccount />
        }
        else if (selectedTab == "About")
        {
            <About />
        }
    </div>
</div>

@code {
    private string selectedTab = "ProfileManagement";

    private void SelectTab(string tabName)
    {
        selectedTab = tabName;
    }
}

@* <style> *@
@*     .profile-tabs { *@
@*         display: flex; *@
@*         justify-content: space-around; *@
@*         padding-bottom: 10px; *@
@*         margin-bottom: 20px; *@
@*         background-color: white; *@
@*     } *@

@*     button { *@
@*         background-color: white; *@
@*         border: none; *@
@*         cursor: pointer; *@
@*     } *@

@*     .profile-tabs .nav-link { *@
@*         padding: 10px 20px; *@
@*         text-decoration: none; *@
@*         color: darkgrey; *@
@*         border: none; *@
@*         position: relative; *@
@*     } *@

@*         .profile-tabs .nav-link::after { *@
@*             content: ''; *@
@*             display: block; *@
@*             width: 0; *@
@*             height: 2px; *@
@*             background: transparent; *@
@*             position: absolute; *@
@*             bottom: -2px; *@
@*             left: 50%; *@
@*             transform: translateX(-50%); *@
@*             transition: width 0.3s, background-color 0.3s; *@
@*         } *@

@*         .profile-tabs .nav-link.active { *@
@*             color: #62AD41; *@
@*         } *@

@*             .profile-tabs .nav-link.active::after { *@
@*                 width: 100%; *@
@*                 background: #62AD41; *@
@*             } *@

@*         .profile-tabs .nav-link:hover { *@
@*             color: #62AD41; *@
@*         } *@

@*     .profile-container { *@
@*         background-color: white; *@
@*         border-radius: 10px; *@
@*         height: 100%; *@
@*     } *@
@* </style> *@
